*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg: #FFFDFF;
    --primary: #202026;

    background-color: var(--bg);
    color: var(--primary);

    font-family: "Fredoka", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 1rem;
    min-width: 19rem;
}

@media (max-width: 40em) {
    header {
        background-color: var(--primary);
        color: var(--bg);
        border: 5px solid var(--primary);
        margin-inline: -1rem;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: block;
            padding: 0.5em 1em;

            a {
                text-decoration: none;
                color: var(--bg);
                border: 1px solid rgb(15, 104, 238);
            }
        }
    }
    
    main{
        flex: 1;
    }


    hr {
        border: none;
        height: 2px;
        background: var(--primary);
    }

    footer {
        background-color: var(--primary);
        color: var(--bg);
        margin-inline-start: -1rem;
        margin-inline-end: -1rem;
        margin-top: rem;

        p {
            margin: 0 1rem;
            padding: 1rem;
        }
    }

    a {
        color: rgb(15, 104, 238);
    }
}

@media (min-width: 40em) {

    header {
        justify-content: space-between;
        background-color: var(--primary);
        color: var(--bg);
        margin-inline-start: -1rem;
        margin-inline-end: -1rem;
        margin-top: -1rem;
        padding-inline-start: 1rem;
    }

    nav ul {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        

        li:first-child {
            margin-inline-start: -3rem;
            margin-inline-end: auto;
        }

        li:nth-last-child(3){
            background-color: #005ca8;
            border-radius: 2rem;
        }

        a {
            transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
            padding: 1rem;
            display: inline-block;
            color: inherit;
            text-decoration: none;
            
            &:hover,
    		&:focus-visible {
        		background-color: #0ea800;
                border-radius: 2rem;
    		}
        }
    }

    main{
        flex: 1;
    }

    .ken {
        display: flex;
        flex-wrap: wrap;
        max-width: fit-content;
            padding-inline-end: 1rem;
            color: inherit;
            text-decoration: none;
            padding-inline: .5rem;
            background-color: #00ff55;
            border: 4px solid #00a822;
            border-radius: .7rem;
			
			&:hover,
    		&:focus-visible {
        		background-color: #00a822;
            	border: 4px solid #00ff55;
    		}
    }

    hr {
        border: none;
        height: 2px;
        background: var(--primary);
    }

    a {
        color: rgb(0, 68, 255);
    }

    footer {
        background-color: var(--primary);
        color: var(--bg);
        margin-inline-start: -1rem;
        margin-inline-end: -1rem;

        p {
            margin: 0 1rem;
            padding: 1rem;
        }
        a{
            color: rgb(93, 168, 255);
        }
        }
    }
